/* GRÁFICA GRANDE */

.columna_izquierda_inferior-grafica-selector{
    width: 60%;
    /* border: 3px solid rgb(255, 0, 247); */
    /* margin:2.5 vh; */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .columna_izquierda_inferior_grafica {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 61vh;
    height: 50vh;
    margin-left: 1vh;
    /* padding: 1vh; */
    /* border: 3px solid #e5ff00; */
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* GRÁFICA GRANDE */