
/*Estadisticas - Productos mas vendidos*/
/* Contenedor principal */
.productos_mas_vendidos {
    font-family: Arial, sans-serif;
    width: 40%;
    /* height: 100%; */
    /* padding: 1vh; */
    margin-right: 3vh;
    /* border: 1px solid #d82121; */
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  .productos_mas_vendidos:hover {
    transform: scale(1.02);
  }
  
  /* Título principal */
  .productos_mas_vendidos h3 {
    font-size: 1em;
    /* margin-bottom: 2vh; */
    color: #333;
  }
  
  /* Lista de productos */
  .productos_mas_vendidos ul {
    list-style-type: none;
    /* margin: 1vh; */
  }
  
  .productos_mas_vendidos li {
    /* background-color: #e9f5ff; */
    padding: 0.7vh;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    /* border: 1px solid #007bff; */
    color: #007bff;
    font-weight: bold;
    font-size: 1em;
  }
  
  .productos_mas_vendidos li strong {
    color: #0056b3;
  }
  
  /* Mensaje de error */
  .productos_mas_vendidos p {
    /* margin: 0.5vh; */
    font-size: 0.9em;
  }
  
  .productos_mas_vendidos p[style*="color: red"] {
    color: red;
    font-weight: bold;
  }
  
  /* Formulario de fecha */
  /* .productos_mas_vendidos form {
    /* margin-top: 1vh; */
  /* }  */
  
  .productos_mas_vendidos input[type="date"] {
    padding: 0.4vh;
    width: 100%;
    font-size: 1em;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* background-color: #fff; */
    transition: border-color 0.3s ease;
  }
  
  .productos_mas_vendidos input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
  }
  /*Productos mas vendidos*/