.App{
  display: flex; /* Permite manejar contenido interno con flexbox */
  justify-content: left;
  width: 100%; /* Ancho relativo al contenedor padre */
  height: 97.5vh; /* Altura fija */
  border: 2px solid #ccc; /* Opcional: Borde decorativo */
}
.dashboard-container {
  display: flex;
  justify-content: space-between; /* Espacio entre las gráficas */
  gap: 5vh; /* Espaciado entre contenedores */
  margin: 5vh;
  margin-top: 2vh;
  max-width: 800px; /* Limita el ancho del contenedor */
}
.bokeh-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bokeh-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143vh;
  height: 500px;
  margin-left: 5vh;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*VENTAS POR FECHA*/
/* Contenedor principal */
.ventas_fecha {
  font-family: Arial, sans-serif;
  max-width: 50vh;
  max-height: 50vh;
  margin: 0.5vh ;
  
  margin-top: 2vh ;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #fff;
}

/* Encabezado */
.ventas_fecha h2 {
  font-size: 1.2em;
  color: #333;
  text-align: center;
  margin:5vh;
}

/* Formulario */
.ventas_fecha form {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 1vh;

}

.ventas_fecha label {
  font-size: 1.5em;
  color: #555;
}

.ventas_fecha input[type="date"] {
  padding: 8px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.2s ease;
  background-color: #f0f8ff;
}

.ventas_fecha input[type="date"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Resultado */
#info {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f0f8ff;
  color: #333;
  font-size: 2em;
  font-size: bold;
  text-align: center;
}


/*VENTAS POR FECHA*/